/*
Theme Name: The7 Child
Author: Dream-Theme
Author URI: http://dream-theme.com/
Description: The7 is perfectly scalable, performance and SEO optimized, responsive, retina ready multipurpose WordPress theme. It will fit every site – big or small. From huge corporate portals to studio or personal sites – The7 will become a great foundation for your next project!
Version: 1.0.0
License: This WordPress theme is comprised of two parts: (1) The PHP code and integrated HTML are licensed under the GPL license as is WordPress itself.  You will find a copy of the license text in the same directory as this text file. Or you can read it here: http://wordpress.org/about/gpl/ (2) All other parts of the theme including, but not limited to the CSS code, images, and design are licensed according to the license purchased. Read about licensing details here: http://themeforest.net/licenses/regular_extended
Template: dt-the7
*/

iframe.load_iframe {
    height: 100%;
    width: 100%;
    border: 0;
    position: absolute;
    top: 0;
}

.bg_white {
	background: #FFF !important;
}

/* contact form */

span.wpcf7-not-valid-tip {
    color: #FFF;
    font-size: 1em;
    display: inline-block;
    background-color: red;
    padding: 1px 12px;
    position: relative;
    margin-bottom: 20px;
    margin-top: -2px;
    font-size: 11px;
}
span.wpcf7-not-valid-tip:before {
    content: '';
    position: absolute;
    height: 7px;
    width: 7px;
    background-color: red;
    top: -3px;
    transform: rotate(45deg);
    left: 4px;
}
div.wpcf7-response-output {
    display: inline-block;
    margin: 0;
}

span.wpcf7-list-item {
 /*margin-left: 0.5em;*/
 display: block;
 margin-top: 4px;
}

input[type="checkbox"], 
input[type="radio"]  { 
    /*box-sizing: border-box; */
}

@media screen and (max-width: 900px) {
    .contact_info {
        margin-top: 30px;
    }
}